.secondSection {
    max-width: 80vw;
    margin: 30px;
    height: 80vh;
  }
  
  .secondSection h1 {
    font-size: 1.9rem;
    padding: 0 0 50px 0;
  }
  
  .secondSection .box {
    background: white;
    width: 95vw;
    height: 2px;
    margin: 56px 0;
    display: flex;
  }
  
  .secondSection .vertical {
    height: 93px;
    width: 1px;
    background-color: white;
    margin: 0 120px;
  }
  
  .image-top {
    width: 30px;
    position: relative;
    top: -37px;
    left: -15px;
  }
  
  .vertical-title {
    color: aliceblue;
    position: relative;
    top: 75px;
    width: 150px;
    font-size: 20px;
  }
  
  .vertical-desc {
    position: relative;
    top: 86px;
    color: gray;
    width: 150px;
    font-size: 15px;
  }  